body {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(imagenes/k1!!!.jpg);  /*Imagen principal del salón*/
  background-size: 100% auto, 100%;  

}

.imagen3 {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 1208px;
  margin-top: 280px;
  
}

.imagen4 {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 619px;
  margin-top: 260px;
  
}
